.nav-tabs {
  border-bottom: 1px solid #495057; 

  .nav-link {
    background-color: transparent;
    border: none;
    color: #adb5bd; 

    &:hover {
      color: #fff; 
    }
  }

  .nav-link.active {
    color: var(--bs-primary); 
    background-color: transparent;
    border-bottom: 3px solid var(--bs-primary); 
    font-weight: 600;
  }
}
